/*
Project Name: Relaxr
Client: Your Client
Author: Hasan Abdullah
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */

html {
  box-sizing: border-box;
}
*,*:before, *after {
  box-sizing: inherit;
}


/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #606161;
     font-size: 26px;
     line-height: 1.4;
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
      background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;
}

header {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.logo {
  font-family: sans-serif;
  font-size: 24px;
  font-style: bold 800;
  padding: 20px;
  padding-left: 30px;
  border: 200px;
  
}


.button {
  width: 15%;
  margin: auto;
  height: 30px;
}


footer {

}

/*Layout of Benefits Page*/
.page2 {
  width: 100%;
  margin: auto;
  height: 500px;
  background-color: #f0efef;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#container h2 { 
  font-family: sans-serif;
  font-size: 24px;
  font-style: bold 600;
  text-align: center;
  padding-top: 100px;
  
}

#container h3 {
  font-family: sans-serif;
  font-size: 24px;
  font-style: bold 800;
  color: black;
  text-align: center;
  background: #f9e42e;
  padding: 10px;
  border: 5px;
}

#container2 h1 {
  font-family: sans-serif;
  font-style: bold 600;
  font-size: 20px;
}

#container2 h2 {
  font-family: sans-serif;
  font-style: light 300;
  font-size: 13px
}
