<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout 03</title>
		<link rel="stylesheet" type="text/css" href="styles.css">

</head>

<body>

	<header>
		<div class="container"></div>
	</header>

<div class="wrapper">

	<nav class="main1">
		<div class="container"></div>
	</nav>

	<aside class="main2">
		<div class="container"></div>
	</aside>

</div>

<div class="wrapper2">
	
	<nav class="box1">
		<div class="container"></div>
	</nav>

	<nav class="box2">
		<div class="container"></div>
	</nav>

	<nav class="box3">
		<div class="container"></div>
	</nav>

</div>
	
</body>
</html>